.ownership-summary-box {
    width: 75%;
    background-color: #F0F0F0;
    border-color: #BBBBBB;
    border-style: double;
}

.ownership-user-info {
    margin-bottom: 5px;
    margin-left: 10px;
}

.ownership-header {
    text-align: center;
    font-weight: bold;
}

.ownership-section {
    margin-left: 5px;
    font-weight: bold;
}

.ownership-text {
}

.ownership-contact-links {
    margin-left: 5px;
    border-spacing: 5px;
}

.ownership-toggle-box {
  display: none;
}

.ownership-toggle-box + label {
    text-align: center;
    font-weight: bold;
}

.ownership-toggle-box + label:before {
  color: #000000;
  content: "\25BA";
  display: block;
  float: left;
  text-align: center;
  margin-right: 10px;
}

.ownership-toggle-box:checked + label:before {
  content: "\25BC";
}

.ownership-toggle-box + label + div {
  display: none;
}

.ownership-toggle-box:checked + label + div {
  display: block;
}
